# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environments
.poetry/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask specific
instance/
*.db
*.sqlite3

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# macOS
.DS_Store